html {
 box-sizing: border-box;
}

body {
background-color: rgba(28, 210, 101, 0.51);
font-family: 'PT Sans', sans-serif;
}


/** Global **/
.contenedor {
  width: 98%;
  margin: 0, auto;
}

@media only screen and (min-width:480px){
   .contenedor {
     width:95%;
   }
}

@media only screen and (min-width:768px){
   .contenedor {
     width:90%;
    }
  }

@media only screen and (min-width:992px){
   .contenedor {
     width:90%;
     max-widht:1100px;
   }
}


h2 {
  font-family: 'Oswald', sans-serif;
}

div.hero {
  background-image: url(../images/foto1.jpeg);
  height: 100vh;
  background-position: top center;
  background-size: cover;
}

div.contenido-header {
    padding-top: 40px;
}

nav.redes-sociales {
 text-align: center;
}

nav.redes-sociales a {
 color : #ffffff;
 font-size: 2em;
 margin-right: 20px;
}

nav.redes-sociales a :last-child {
  margin-right: 0;
}

div.informacion {
 text-align: center;
 color : #ffffff;
}

h1 {
  font-size: 3.5em;
  font-family: 'Indie Flower', cursive;
  margin-top: 40px;
  margin-bottom: 20px;
}

@media only screen and (min-width:768px){
  h1 {
  font-size:5em;
}
}

div.informacion p {
 text-transform: uppercase;
 }

div.barra {
  background-color:rgba(28, 210, 101, 0.51);
  padding : 20px, 0;
}

div.logo {
  width:80%;
  float: left;
}

div.logo img {
  width: 100%;
}

@media only screen and (min-width:768px){
    div.logo {
    width: 33%;
  }
}

nav.navegacion-principal {
    display :none;
}
nav.navegacion-principal a {
      font-family:'Oswald', sans-serif;
      color : #ffffff;
      font-size:1em;
      text-decoration:none;
      list-style-type:none;
      text-transform: uppercase;
      transition: all .6s ease;
  }

nav.navegacion-principal a:hover {
  background-color:red;
  color:white;
}

nav.navegacion-principal a:last-child {
  border:1px solid red;
  color:red;
}

nav.navegacion-principal a:last-child:hover {
  border:1px solid red;
  color:white;
}
@media only screen and (min-width:768px){
     nav.navegacion-principal {
     width: 67%;
     float: right;
     text-align: right;
     display: block;
     padding-top: 0px;
     margin-right: 20px;
}
  nav.navegacion-principal a {
    margin-right:10px;
    padding:10px, 20px;
    display: inline-block;
}
}

div.menu-movil {
    float:right;
    width:60px;
    text-align:right;
    display:block;
    margin-top:30px;
}
div.menu-movil :hover{
  cursor:pointer;
}


@media only screen and (min-width:768px){
  div.menu-movil {
   display:none;
}
}

div.menu-movil span {
    height:8px;
    background-color:white;
    margin-bottom:6px;
    display:block;
}

section{
margin-top: 100px;
border-top: 1px solid black;
}

div.navegacion-footer {
       height:350px;
       background-color: rgba(28, 210, 101, 0.51);
       border-top: 1px solid black;
}

div.navegacion-footer a {
       font-size: 1.5em;
}

div.faq {
background-image:url(../images/foto2.jpeg);
background-position:cover no repeat;
}
